@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font-padrão: Verdana, Geneva, Tahoma, sans-serif;
    --font-header:'Bebas Neue', cursive;
    --font-poesia:'Sriracha',cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    height: 269px;
}
header > h1{
    color: white;
    font-family: var(--font-header);
    font-size: 9vw;
    text-align: center;
    padding-top:50px;
    height: 150px;
}
header > p{
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: var(--font-padrão);
    padding-bottom: 50px;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover{
    text-decoration: underline;
}
section.normal{
    background-color: white;
    color: black;
}
section{
    font-family: var(--font-poesia);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
section > p{
    padding-bottom: 2em;
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem{
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: inset 6px 6px 13px  rgba(0, 0, 0, 0.486);
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.582);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}
